@import "tailwindcss";

@tailwind utilities;

.bg-diagonal-split {
  /* cambia i colori come vuoi */
  background-image: linear-gradient(
    140deg,
    #1e1f1e 0%,
    #1e1f1e 40%,
    #171717 40%,
    #171717 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #171717; /* fallback scuro */
}
