@import "tailwindcss";

@tailwind utilities;

.bg-diagonal-split {
  background-image: linear-gradient(
    140deg,
    #1e1f1e 0%,
    #1e1f1e 40%,
    #171717 40%,
    #171717 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-navbar {
    width: 100px;
    height: 50px;
}

@media (min-width: 1024px) {
  .bg-diagonal-split {
    background-image: linear-gradient(
      160deg,
      #1e1f1e 0%,
      #1e1f1e 50%,
      #171717 50%,
      #171717 100%
    );
  }

  .logo-navbar {
        width: 200px;
        height: 100px;
    }
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #171717;
}
