---
import "../styles/global.css";
---

<nav class="navbar p-3 lg:p-5">
  <div class="logo">
    <img src="src/assets/logo.png" class="logo-navbar">
  </div>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">Chi siamo</a></li>
  </ul>
</nav>

<style>
  /* Stili locali */
  .navbar { display: flex; justify-content: space-between; }
</style>
